<div class="app-layout" *ngIf="authApi.isLoggedIn(); else authLayout">

  <aside class="sidebar">
    <div class="brand">
      <img src="/logo.jpeg.jpeg" alt="Logo">
      <div>
        <h2>Warehouse</h2>
        <span>{{ authApi.getUser()?.role }}</span>
      </div>
    </div>

    <nav class="sidebar-nav">
      <a [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        📊 Dashboard
      </a>

      <a [routerLink]="['/products']" routerLinkActive="active-link">
        📦 Produkte
      </a>

      <a [routerLink]="['/shipped-products']" routerLinkActive="active-link">
        🚚 Versendete Produkte
      </a>

      <a
        *ngIf="authApi.getUser()?.role === 'Admin'"
        [routerLink]="['/admin-users']"
        routerLinkActive="active-link">
        👥 Admin
      </a>
    </nav>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </aside>

  <main class="main-content">
    <header class="top-header">
      <div>
        <h1>Warenlager-Verwaltungssystem</h1>
        <p>Willkommen, {{ authApi.getUser()?.username }}</p>
      </div>
    </header>

    <router-outlet></router-outlet>

    <footer class="app-footer">
      Designed by Wael Zoudi
    </footer>
  </main>

</div>

<ng-template #authLayout>
  <div class="auth-layout">
    <router-outlet></router-outlet>
  </div>
</ng-template>