<div class="app-shell">
  <div class="top-bar">
    <h1>Warenlager-Verwaltungssystem</h1>

    <div class="nav-buttons" *ngIf="authApi.isLoggedIn()">
      <a [routerLink]="['/']" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
        Dashboard
      </a>

      <a [routerLink]="['/products']" routerLinkActive="active-link">
        Produkte
      </a>

      <a [routerLink]="['/shipped-products']" routerLinkActive="active-link">
        Versendete Produkte
      </a>

      <a
        *ngIf="authApi.getUser()?.role === 'Admin'"
        [routerLink]="['/admin-users']"
        routerLinkActive="active-link">
        Admin
      </a>

      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </div>

  <router-outlet></router-outlet>

  <footer class="app-footer">
    Designed by Wael Zoudi
  </footer>
</div>